/* content */
.text-header {
	font-size: 12pt;
	font-family: Arial;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: capitalize;
}
.icon
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 7px;
}
.iconleft
{
	padding-right: 8px;
}
.iconfoot
{
	padding-right: 0px;
	padding-left: 5px;
}
.pathway {
	color: #FFFFFF;
	font-size: 14pt;
	font-family: Tahoma;
	font-weight:bold;
}
.pageContent {
	color: #FFFFFF;
	font-size: 9pt;
	font-family: Tahoma;
}
.pageContent_table {
	padding-right:35px;padding-left:0px;padding-top:15px;padding-bottom:20px;
}
.pageContent a { 
    font-size: 9pt;
	color: #ffffff;
	font-family: Tahoma;
	}
/* top elements */
.company {
	font-size: 16pt;
	font-family: Tahoma;
	color:#626262;
	font-weight:normal;
	text-transform: capitalize;
	line-height: 16pt;
}
.slogan {
	font-size: 9pt;
	font-family: Tahoma;
	color: #818181;
}
.slogantable {
	padding-right: 25px;
}
.copyright {
	color: #666666;
	font-size: 9pt;
	font-family: Tahoma;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-top: 0px;
}
.logo{
	font-size: 8pt;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Arial;
	color: #000099;
	font-weight: bold;
}
.logoword{
	font-size: 18pt;
	padding-right: 4px;
	padding-left: 4px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial;
}
.logowordtop{
	font-size: 14pt;
	padding-right: 4px;
	padding-left: 4px;
	font-weight: normal;
	color: #FFFFFF;
	font-family: Arial;
}
/*main menu*/
.menu {
	font-size: 9pt;
	font-family: Tahoma;
	color: #0096CA;
	text-decoration: none;
	padding-bottom: 0px;
	padding-top: 0px;
	font-weight: normal;
}
.menua {
	font-size: 9pt;
	font-family: Tahoma;
	color: #828282;
	text-decoration: none;
	padding-bottom: 0px;
	padding-top: 0px;
	font-weight: normal;
}
.menutable{
	padding-left: 6px;
	padding-right: 10px;
	padding-bottom: 4px;
}
/*submenu*/
.submenutable{
	padding-left: 10px;
	padding-right: 10px;
}
.submenua {
	font-size: 9pt;
	color: #828282;
	font-family: Tahoma;
	text-decoration: none;
	font-weight: normal;
}
.submenu {
	font-size: 9pt;
	color: #0096CA;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.submenu-bg {
	background-color: #848684;
}

.bmenu {
	font-size: 9pt;
	font-family: Tahoma;
	color: #0096CA;
	text-decoration:none;
}
.bmenua {
	font-size: 9pt;
	font-family: Tahoma;
	color: #828282;
	text-decoration:none;
}
.menuline {
	color: #D6D6D6;
	text-decoration: none;
	background-color: #D6D6D6;
	width: 1px;
	background-repeat: repeat-y;
	background-position: center top;
}
.menu-hr { background-color: #FFFFFF; }
